*{
    padding: 0;
    margin: 0;
}

header{
    background: #1E91D9;
    height: 120px;
}
header .center-box{
    width: 960px;
    margin: 0 auto;
}

.sum{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.wrap{
    position: relative;
}

.wrap a {
    text-decoration: none;
    font-weight: bold;
    font-family: Helvetica Neue,sans-serif;

}

.wrap input{
    outline-style: none;
    margin-left: 20px;
    width: 325px;
    height: 40px;
    border-radius: 4px;
    border-style: none;
    padding:  5px 33px;
    box-sizing: border-box;

    
}

.wrap img{
    display: block;
    position: absolute;
    top: 10px;
    left: 270px;
    filter: opacity(0.4);
}

.ridibooks{
    color: #f2f2f2;
    font-size: 22px;
}
.ridibooks:hover{
    color: #dfdfdf;

}

.select{
    color: #A5D1F5;
    font-size: 19px;
}
.select:hover{
    color: #bedbf3;
}


.nav ul li {
    float: left;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 60px;
    font-weight: bold;
    padding-bottom: 8px;
}


.nav ul li:hover{
    border-bottom: 3px solid #A5D1F5;
}
.nav ul .home{
    
    border-bottom: 3px solid #A5D1F5;
}


.nav ul li a img{
    filter:opacity(0.4);
    vertical-align: -5px;
    margin-right: 10px;
    
}

.nav ul li a{
    text-decoration: none;
    color: white;
}

.com{
    margin-top: 7px;
}

.join{
    text-decoration: none;
    color: white;
    border: 1px solid #A5D1F5;
    border-radius: 4px;
    padding: 6px 13px;
    font-size: 13px;
    font-weight: bold;
}

.join:hover{
    transition: 0.4s;
    color: rgb(228, 228, 228);
}


.login{
    text-decoration: none;
    color: #1E91D9;
    border-radius: 4px;
    padding: 7px 16px;
    font-size: 13px;
    font-weight: bold;
    background-color: white;
}

.login:hover{
    transition: 0.4s;
   opacity: 0.8;
}

nav{
    border-bottom: 1px solid #e0e0e0;
    height: 50px;
}

.nav_center{
    width: 960px;
    margin: 0 auto;

}
nav ul li{
    float: left;
    list-style: none;
    margin-top: 14px;

}


nav ul li a{
    padding: 20px 50px 10px 0px;
    text-decoration: none;
    color: #222;
    font-weight: bold;
    font-size: 16px;
 
}

nav ul li a:hover{
    color: rgb(150, 150, 150);
}

nav ul li img{
    filter: opacity(0.6);

}

.blue a{
    color: #1E91D9;
}
.blue a:hover{
    color: #1E91D9;
}


/* section 1 */

.slide_banner{
    width: 1300px;
    margin: 40px auto;
    position: relative;
}

.slide_banner li{
    list-style: none;
    width: 30%;
    float: left;
    margin-right: 0.2%;

}

.slide_banner img{
    width: 100%;
    border-radius: 6px;

}

button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border-style: none;
    background-color: #ccc;
    opacity: 0.6;
    cursor: pointer;
    position: absolute;
}


.slick-prev{
   
    top: 40%;
    right: 69%;
    z-index: 999;
}

.slick-next{
 
    top: 40%;
    right: 29%;
}

.slide_banner button:hover{
    opacity: 0.8;
}

/* section 2 */


.list-center{
    width: 960px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.list-box ul{
    display: flex;
    justify-content: space-evenly;
 
}
.list-box ul li img{
    display: block;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 5px;

}

.list-box ul li {
    list-style: none;
    text-align: center;
}
.list-box ul li a{
    text-decoration: none;
    color: #222;
    font-size: 13px;
}


.box1{
    background-color: #F2CEA2;
}
.box2, .box4{
    background-color: #99D1CB;
}
.box3{
    background-color: #B9BEF1;
}
.box5{
    background-color: #F2C5AE;
}
.box6{
    background-color: #ABDCBA;
}
.box7{
    background-color: #D5ADEB;
}
.box8{
    background-color: #F0B9B9;
}
.box9{
    background-color: #BADBA1;
}

/* section 3 */


.new-center img {
    width: 120px;
    height: 160px;
}
.new-box{
    background-color: #222;
    position: relative;
}




.new-center{
    width: 960px;
    margin: 0 auto;
   
}

.new-center h1{
    color: #dfdfdf;
    padding: 30px 0 ;
    font-size: 20px;
}

.new-center ul{
    display: flex;
    flex-direction: row;

}
.new-center ul li{
    list-style: none;
    width: 16.66%;
    text-align: center;
}
.new-center ul li a{
    text-decoration: none;
}
.new-center h3{
    color: #fff;
    font-size: 14px;
}
.new-center span{
    color: #ccc;
}


/* section 4 */

.time-center{
    width: 960px;
    margin: 50px auto;
}
.time-center ul{
    margin-top: 50px;
}

.list-buttom{
    display: flex;
}

.list-buttom li{
    width: 33.33%;
    list-style: none;
    line-height: 40px;
    
}
.list-buttom li a{
    text-decoration: none;
    color: #222;
    display: inline-flex;
   
}
.number{
    padding: 0 30px 0 0;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}
.many{
    display: flex;
    border-bottom: 1px solid #ccc;
    width: 180px;
    margin-left: 20px;
    

}
.Concentrate{
    display: table-row-group;
    font-weight: bold;

}
.pit{
    font-size: 14px;
    color: #222;
}
.solid{
    border-bottom: none;
}