*{
    padding: 0;
    margin: 0;
}
/* header */

header{
    background: #1E91D9;
    height: 120px;
}
header .center-box{
    width: 960px;
    margin: 0 auto;
}

.sum{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.wrap{
    position: relative;
}

.wrap a {
    text-decoration: none;
    font-weight: bold;
    font-family: Helvetica Neue,sans-serif;

}

.wrap input{
    outline-style: none;
    margin-left: 20px;
    width: 325px;
    height: 40px;
    border-radius: 4px;
    border-style: none;
    padding:  5px 33px;
    box-sizing: border-box;

    
}

.wrap img{
    display: block;
    position: absolute;
    top: 10px;
    left: 270px;
    filter: opacity(0.4);
}

.ridibooks{
    color: #f2f2f2;
    font-size: 22px;
}
.ridibooks:hover{
    color: #dfdfdf;

}

.select{
    color: #A5D1F5;
    font-size: 19px;
}
.select:hover{
    color: #bedbf3;
}


/* nav */

.nav ul li {
    float: left;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 60px;
    font-weight: bold;
    padding-bottom: 8px;
}


.nav ul li:hover{
    border-bottom: 3px solid #A5D1F5;
}
.nav ul .home{
    
    border-bottom: 3px solid #A5D1F5;
}


.nav ul li a img{
    filter:opacity(0.4);
    vertical-align: -5px;
    margin-right: 10px;
    
}

.nav ul li a{
    text-decoration: none;
    color: white;
}

.com{
    margin-top: 7px;
}

.join{
    text-decoration: none;
    color: white;
    border: 1px solid #A5D1F5;
    border-radius: 4px;
    padding: 6px 13px;
    font-size: 13px;
    font-weight: bold;
}

.join:hover{
    transition: 0.4s;
    color: rgb(228, 228, 228);
}


.login{
    text-decoration: none;
    color: #1E91D9;
    border-radius: 4px;
    padding: 7px 16px;
    font-size: 13px;
    font-weight: bold;
    background-color: white;
}

.login:hover{
    transition: 0.4s;
   opacity: 0.8;
}

nav{
    border-bottom: 1px solid #e0e0e0;
    height: 50px;
}

.nav_center{
    width: 960px;
    margin: 0 auto;

}
nav ul li{
    float: left;
    list-style: none;
    margin-top: 14px;

}


nav ul li a{
    padding: 20px 50px 10px 0px;
    text-decoration: none;
    color: #222;
    font-weight: bold;
    font-size: 16px;
 
}

nav ul li a:hover{
    color: rgb(150, 150, 150);
}

nav ul li img{
    filter: opacity(0.6);

}

.blue a{
    color: #1E91D9;
}
.blue a:hover{
    color: #1E91D9;
}

/* section 1 */
.in-center{
    width: 960px;
    margin: 50px auto;
}
.solo{
    display: flex;
    flex-direction: column;
    margin-right: 70px;


}
.solo img{
    cursor: zoom-in;
}

.main{
    display: flex;
    justify-content:flex-start;
}
.solo a{
    text-align: center;
    text-decoration: none;
    color: 	 #3366ff;
    width: 100px;
    margin: auto;
    padding: 15px 25px ;
    border: 1px solid 	 #99b3ff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 1px 1px #f2f2f2;
    margin-top: 10px;
    
}
.solo a:hover{
    background-color: #e6ecff;
    transition: all 0.4s;
}
.Development{
    font-size: 14px;
}
.worker{
    font-size: 30px;
    color: #222;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.crazy{
    font-size: 13px;
    margin-bottom: 20px;
}
.star{
    margin-bottom: 15px;
}
.ribeca{
    font-size: 14px;
    margin-bottom: 6px;
}
.ribeca a{
    text-decoration: none;
    color: #2e2e2e;
    font-weight: 700;
    font-size: 15px;
}
.wood a{
    text-decoration: none;
    color: #2e2e2e;
    font-weight: 700;
    font-size: 15px;

}
.line{
    border-bottom: 2px solid #ccc;
    margin-top: 20px;
    margin-bottom: 10px;
}
.text{
    width: 500px;
}
.pur-box{
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}
.Purchase{
    width: 150px;
    text-align: center;
    background-color: #eee;
}
.Purchase p{
    line-height: 90px;
    font-size: 14px;
    font-weight: bold;
    color: #222;
}
.paper{
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    
}
.paper li {
    list-style: none;
    padding: 3px;
    
}
.number {
    text-align: right;
    font-weight: bold;
    color: #4d4d4d;
}
.elec{
    margin-left: 5px;
}
.paper li:first-child{
    margin-top: 4px;
}

.five{
    color: #ff3333;
}
.ten{
    color: #6666ff;
}
.love{
    float: right;
}
.hart{
    display: flex;

}
.hart li{
    list-style: none;
    padding: 12px;
    margin: 5px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 1px #ccc;
    cursor: pointer;

}
.con{
    text-decoration: none;
    background-color: #4d79ff;
    font-weight: bold;
    line-height: 27px;
}
.con a{
    color: #f2f2f2;
    text-decoration: none;
}
.con:hover{
    background-color: #3366ff;
}
.hover:hover{
    background-color: #f2f2f2;
}

.boxcolor{

    width: 800px;
    margin: 50px auto;
    border: 4px solid #f2f2f2;
    margin-right: 145px;
    display: flex;
    padding: 20px;

}
.info{
    margin-left: 20px;
    font-size: 12px;
}
.info p{
    margin-bottom: 10px;
}

.info span{
    font-size: 13px;
    font-weight: bold;
    margin-right: 20px;
}
.list{
    margin-left: 20px;
    font-size: 13px;
   
}
.list p{
    margin-bottom: 10px;
}
.list span{
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
}
.list img{
    filter: opacity(0.6);
}

.text-center{
    width: 850px;
    margin: 20px auto;
    padding-right: 110px;
}
.text-center h1{
    font-size: 20px;
    color: #595959;
    margin-bottom: 5px;
}
.line1{
    border-bottom: 2px solid  #737373;
}
.pinut{
    margin-top: 20px;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 20px;
}
.hide{
    float: right;
    cursor: pointer;
    color: #4d79ff;
}
.hide img{
    vertical-align: -6px;
}
.profile{
    margin-top: 80px;
<<<<<<< HEAD
    margin-bottom: 50px;
}
.pinut2{
    border-bottom: 1px solid #ccc;
    margin-top: 15px;
    padding-bottom: 8px;
}
.pinut2 a{
    color: #4d4d4d;
    text-decoration: none;
    font-size: 15px;

}

.pinut2 p {
    color: #595959;
    margin-bottom: 5px;
}
.libeca{
    padding: 10px 10px 5px 0;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}
.libeca a{
    text-decoration: none;
    color: #222;
}
.libeca a:hover{
    color: #1a8cff;
}
.libeca span:hover{
    color: #1a8cff;
}

.libeca span{
    font-size: 17px;
    font-weight: 500;
    color: #737373;
}
.news{
    text-align: center;
    padding: 8px 15px;
    border: 1px solid #1a8cff;
    width: 170px;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #dfdfdf;
    margin-bottom: 50px;
    cursor: pointer;

}
.news:hover{
    background-color:  #e6f2ff;
}
.news a{
    text-decoration: none;
    color:  #1a8cff;
}

.news img{
    vertical-align: -2px;
    margin-right: 5px;
}
.update{
    float: right;
    font-size: 12px;
    color: #595959;
}
.update a{
    border: 1px solid #ccc;
    text-decoration: none;
    color: #595959;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 8px;
    font-weight: 800;
}
.update img{
    vertical-align: -3px;
}
.seal{
    margin-top: 20px;
    font-size: 14px;
    line-height: 23px;
    color: #2e2e2e;
}
.pinut3{
    font-size: 14px;
    margin-top: 20px;
    line-height: 23px;
=======
>>>>>>> eb59ebd2c4970550667da2ffb88a454d6c81c04d
}