*{
    padding: 0;
    margin: 0;
}

header{

    height: 300px;
    width: 100%;
    background: url(../images/blue.png) no-repeat center top -110px;
    background-color: #1E91D9;



}
.center-box{
    width: 960px;
    margin: 0 auto;
    
}

.sum{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    

}



.wrap a {
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    color: white;

}

.wrap input{
    outline-style: none;
    margin-left: 20px;
    width: 325px;
    height: 40px;
    border-radius: 4px;
    border-style: none;
    padding:  5px 33px;
    box-sizing: border-box;
}
.top-text{
    text-align: center;
    margin-top: 50px;

}
.top-text h1{
    font-size: 28px;
    color: #f2f2f2;
    font-weight: 400;
    margin-bottom: 70px;
    line-height: 40px;
    text-shadow: #e6e6e6;
}

.top-text input{
    width: 550px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px 10px 10px 40px;
    box-sizing: border-box;
    background-image: url(../images/glass.png);
    background-repeat: no-repeat;
    background-size: 25px 25px ;
    background-position: 8px ;
    font-size: 16px;

}

.center-box2{
    width: 960px;
    margin: 60px auto;
}
.center-box2 a{
    text-decoration: none;
}
.center-box2 h3{
    color: #404040;
}
.frount{
    color: #404040;
}
.bottom-line{
    margin-top: 20px;

}

.bottom-line li{
    border-bottom: 1px solid #d9d9d9;
    padding: 15px 15px 15px 0;
    list-style: none;
}

.bottom-line li:first-child{
    border-top: 1px solid #ccc;
}

.bottom-line li a{
    color:   #404040;
}

.blue-box{
    display: flex;
    margin-top: 15px;
}
.blue-box li{
    list-style: none;
    width: 33.33%;
    border: 1px solid #1E91D9;

    margin-right: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}
.blue-box li a{
    color: #1E91D9;
    font-weight: bold;
    font-size: 16px;
}

.star{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;

}
.star li{
    list-style: none;
    border: 1px solid  #1E91D9;
    border-radius: 5px;
    width: 33.33%;
    padding: 30px;
    text-align: center;
    margin-right: 10px;
 


}
.star li a{
    color: #222;
}
.blue-faq{
    color: #1E91D9;
    font-size: 17px;
}
.question{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.question li {
    list-style: none;
    width: 33.33%;
    margin-right: 10px;
}

.question p {
    border-top: 1px solid #e6e6e6;
    margin-top: 15px;
    padding-top: 15px;

}
.baro {
    padding: 10px;
    background-color: #1E91D9;
    border-radius: 50px;
    font-size: 13px;
    width: 80px;
    margin-top: 15px;
    text-align: center;
}
.baro a{
    color: white;
}
.oru{
    color: #222;
}
.book{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.book li{
    list-style: none;
    width: 23%;
    margin-right: 2%;
    border: 1px solid #1E91D9;
    border-radius: 5px;
    padding: 20px 20px 30px 20px;

}
.book li a {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #1E91D9;
    font-weight: bold;
}
.book li a img{
    margin: auto;

}
.content2{
    display: flex;
    justify-content: flex-start;
}
.customer1{
    display: flex;
    border: 1px solid #1E91D9;
    padding: 15px;
    margin-right: 20px;


}
.customer1 li {
    list-style: none;
    text-align: center;
    padding-right: 70px;
    
}
.customer1 li a{
    display: flex;
    flex-direction: column;

}

.customer2{
    display: flex;
    border: 1px solid #1E91D9;
    padding: 15px;


}
.customer2 li {
    list-style: none;
    text-align: center;
    padding-right: 70px;

    
}
.customer2 li a{
    display: flex;
    flex-direction: column;

}