<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ridibooks.mybatis.MemberMapper">
  
    <insert id="memberInsert" parameterType="memberVO">
        insert into memberInfo(id, pw, email, name, birthdate, gender, agree, event, info, personal, ismember)
        values(
        #{id},
        #{pw},
        #{email},
        #{name},
        #{birthdate},
        #{gender},
        #{agree},
        #{event},
        #{info},
        #{personal},
        #{ismember}
        )       
    </insert>
    
    <insert id="memberMarketingInsert" parameterType="memberMarketingVO">
        insert into marketinginfo(memberInfo_num, subEmail, emailagree, appagree, appnightagree)
        values(
        #{memberInfo_num},
        #{subEmail},
        #{emailagree},
        #{appagree},
        #{appnightagree}
        )       
    </insert>
    
     <insert id="withdrawalInsert" parameterType="withdrawalVO">
        insert into withdrawalinfo(memberInfo_num, noBook, noBenefit, systemError, lateResponse, noUse, concernedPs, etc, pw, withdrawalAgree)
        values(
        #{memberInfo_num},
        #{noBook},
        #{noBenefit},
        #{systemError},
        #{lateResponse},
        #{noUse},
        #{concernedPs},
        #{etc},
        #{pw},
        #{withdrawalAgree}
        )       
    </insert>
    
    <select id="memberLogin" parameterType="memberVO" resultType="memberVO">
        select * from memberInfo where id=#{id} and pw=#{pw}
    </select>
    
    <select id="memberFind" parameterType="String" resultType="memberVO">
    	select * from memberInfo where email=#{email}
    </select>
    
    <select id="idEmailReturnVO" parameterType="memberVO" resultType="memberVO">
    	select * from memberInfo where id=#{id} and email=#{email}
    </select>
    
    <select id="memberIdDoublecheck" resultType="String" parameterType="String">
        select id from memberInfo where id=#{id}        
    </select>
    
     <select id="memberEmailDoublecheck" resultType="String" parameterType="String">
        select email from memberInfo where email=#{email}        
    </select>
    
    <select id="idReturnPk" resultType="int" parameterType="String">
        select member_num from memberInfo where id=#{id}        
    </select>
    
     <delete id="memberDelete" parameterType="String">  
        delete from memberInfo where id=#{id}
    </delete>
    
    <update id="updatePw" parameterType="memberVO">
         update memberInfo 
         set pw=#{pw}
         where id=#{id}	 
    </update>
    
    <update id="updateEmail" parameterType="memberVO">
         update memberInfo 
         set email=#{email}
         where id=#{id}	 
    </update>
    
    <update id="updateMarketing" parameterType="memberMarketingVO">
         update marketinginfo 
         set subEmail=#{subEmail},
         emailagree=#{emailagree},
         appagree=#{appagree},
         appnightagree=#{appnightagree}
         where memberInfo_num=#{memberInfo_num}	 
    </update>
    
    <update id="updateIsMember" parameterType="memberVO">
         update memberInfo 
         set ismember=#{ismember}
         where id=#{id}	 
    </update>
    
</mapper>