<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ridibooks.mybatis.MemberMapper">
  
    <insert id="memberInsert" parameterType="memberVO">
        insert into memberInfo(id, pw, email, name, birthdate, gender, agree, event, info, personal)
        values(
        #{id},
        #{pw},
        #{email},
        #{name},
        #{birthdate},
        #{gender},
        #{agree},
        #{event},
        #{info},
        #{personal}
        )       
    </insert>
    
    <select id="memberLogin" parameterType="memberVO" resultType="memberVO">
        select * from memberInfo where id=#{id} and pw=#{pw}
    </select>
    
    <select id="memberFind" parameterType="String" resultType="memberVO">
    	select * from memberInfo where email=#{email}
    </select>
    
    <select id="findPw" parameterType="memberVO" resultType="memberVO">
    	select * from memberInfo where id=#{id} and email=#{email}
    </select>
    
    <select id="memberIdDoublecheck" resultType="String" parameterType="String">
        select id from memberInfo where id=#{id}        
    </select>
    
</mapper>